@(formTopic: Form[Topic], firstPost: Form[Post], section: Section)
@import helper._
@import play.i18n._
@main.carcass(section.name) {
	<div >
		<h1 align="center">@section.name</h1>
	</div>
	<hr>
	
	<div class="span12">
		<p class="lead">Введите название темы:</p>
    	@form(action = routes.Topics.save(section.id),args = 'class ->"form-vertical",'enctype -> "multipart/form-data") {
				@inputText( field = formTopic("title"), args =
                        '_label -> Messages.get("topic.creation.text") )
                @textarea(field = firstPost("text"), '_label -> Messages.get("post.creation.text"))
                <input type="file" name="picture" >
				<input class="btn btn-primary" type="submit" value="Новая тема">
		}
	</div>
}