
        <? if (isset($success)) { ?>
            <div class="alert alert-success">
                <?= $success ?>
            </div>
        <? } ?>
<div class="span4">
        <form class="" action="/dialer/forgоt/" method="POST">
            <legend>Забыли пароль?</legend>
            <input name="email" type="text" class="input-large">
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Запросить пароль</button>
            </div>    
        </form>
    </div>
