@(message: String)

@main.carcass(title = "Страница не найдена") {
    <div class="row">
        <div class="span2">
            <img src="/images/error.png">
        </div>
        <div class="span7">
            <h1>@message</h1>

            <p>
                <ul> Запрошенная Вами страница <strong>URL</strong>
                не найдена на сервере, это могло произойти если: <ul>
                <li>1. Вы набрали неверный адрес (пропустили букву, набрали не теми буквами)</li>
                <li>2. Вы перешли по неверной или устаревшей ссылке</li>
                </ul>
            </p>


            <strong>
                Проверьте Ваш запрос или воспользуйтесь меню сайта для поиска необходимой информации.<br/>
            <br/>
                Или перейдите на <a href="/">главную страницу сайта</a>.
            </strong>

        <br/>
        <br/>
        <br/>

            <p>
                На сервере сейчас: <strong><? = $time ?></strong> (время московское).
            </p>
        </div>
    </div>
}
